header
    position: fixed
    z-index: 1000
    padding: 30px 100px
    display: flex
    align-items: center
    img
        margin-right: 100px
        height: 15px
        display: block
        @include transition(all 0.9s linear)
    ul
        margin: 0
        padding: 0
        display: flex
        list-style-type: none
        li
            margin-right: 20px
            a
                opacity: 0.4
                font-family: $open
                font-size: 12px
                color: #000000 !important
                @include transition(all 0.9s linear)

body.fp-viewing-1
    header
        ul
            li
                a
                    color: #ffffff !important
        img
            filter: invert(1)